#page {
	padding-left:20px;
	padding-right:20px;
}

#content h1 {
	margin-top:0px;
}

.thumbnail:hover {
	opacity:0.25;
}

.bodybg {
	background: url(admin/images/bodybg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}